{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <br><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum urna ac dolor dapibus rhoncus. Sed nec suscipit felis. Mauris mauris nulla, dapibus ac tincidunt eget, vestibulum fringilla est. Curabitur felis massa, egestas vel cursus eu, venenatis a mauris. Maecenas ullamcorper justo mauris, at lobortis tortor condimentum ut. Ut sit amet enim in erat bibendum posuere. Proin semper erat id maximus consectetur.
<br><br>
Nam cursus elementum tellus sit amet cursus. Praesent dignissim hendrerit venenatis. Donec tincidunt quis est luctus scelerisque. Morbi luctus augue elit, eget bibendum felis interdum non. Donec tempus mi neque, in pharetra sem tempor sed. Vestibulum efficitur neque risus, non placerat odio egestas non. Mauris egestas pretium elit, consequat mollis diam sodales non. Pellentesque varius convallis egestas.
<br><br>
Nulla finibus, mi id rhoncus tristique, turpis magna volutpat neque, id mattis nisl magna sed metus. Proin in nibh sed elit vulputate consectetur. Fusce ut porta nunc. Proin ut euismod augue. Proin finibus tincidunt nisi, id consectetur leo vulputate in. Nam a varius ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec a suscipit dolor. Praesent tincidunt erat enim, fermentum lobortis sem hendrerit et. Praesent a enim convallis, viverra ante sit amet, scelerisque massa. Morbi porttitor feugiat mollis.
<br><br>
                    </p>
                </div>
            </center>
        </div>
    </div>
{% endblock %}